<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <script src="js/jquery.js"></script>
      <script src="js/jquery.cookie.js"></script>
      <script src="js/jquery-1.10.2.js"></script>
    <![endif]-->  
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.4.custom.css">
	<link href="css/hci-friends.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- HEADER -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="row">
        <div class="col-xs-4 pull-left" >
        </div>
        <div class="col-xs-4" id="header-logo">
            <a id="header-logo-text">hello</a>
        </div>
    </div>
</div>

<div class="progress progress-striped active" style="width:400px;">
    <div class="progress-bar" width="40%"></div>
</div>
<button class="points" type="button" class="btn btn-success" style="width:400px;">Generate Code</button>

<!-- BOTTOM NAVIGATION -->
<div id="navigation" class="navbar-fixed-bottom">
    <ul class="nav nav-tabs">
        <li><a href="#find_people" data-toggle="tab">Find</a></li>
        <li><a href="#inbox" data-toggle="tab">Inbox</a></li>
        <li><a href="#friends" data-toggle="tab">Friends</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
    </ul>
</div>
<div class="view-profile">

</div>


<div class="tab-content">
    <!-- FIND PEOPLE PAGE -->
    <div class="tab-pane active" id="find_people">
        <div class="container">
            {{#each people}}
            <a href="/user_profile/{{name}}" class="stranger_profile">
                <div class="row container">
                    <div class="col-xs-3">
                        <img src={{imageURL}} class="img-responsive img-rounded">
                    </div>
                    <div class="col-xs-9">
                        <h4>{{name}}</h4>
                        <p>{{title}}</p>
                    </div>
                </div>
            </a>
                <hr>
            {{/each}}
        </div>
    </div><!-- end find people page -->


    <!-- USER PROFILE PAGE -->



    <!-- INBOX PAGE -->
    <div class="tab-pane" id="inbox">

    </div><!-- end inbox page -->

    <!-- FRIENDS PAGE -->
    <div class="tab-pane" id="friends">
        <div class="container">
            {{#each friends}}
                <a href="/user_profile/{{name}}" class="friend_profile">
                    <div class="row container">
                        <div class="col-xs-3">
                            <img src={{imageURL}} class="img-responsive img-rounded" >
                        </div>
                        <div class="col-xs-9">
                            <h4>{{name}}</h4>
                            <p>{{title}}</p>
                        </div>
                    </div>
                </a>
                <hr>
            {{/each}}
        </div>
    </div><!-- end friends page -->

    <!-- PROFILE PAGE -->
    <div class="tab-pane" id="profile">

    </div><!-- end profile page-->


    <!-- BADGE MODAL -->
    <div class="modal fade bs-example-modal-sm badge-notification" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                Congrats! You earned a badge!
            </div>
        </div>
    </div>
</div>

</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

    <script src="js/index.js"></script>
</html>
