<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <script src="js/jquery.js"></script>
      <script src="js/jquery.cookie.js"></script>
      <script src="js/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="js/jquery.mmenu.js"></script>

    <![endif]-->  
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.4.custom.css">
   <!-- <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" /> -->
   <!--  <link href="css/slider.css" rel="stylesheet"> -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript">

    </script>



</head>

<body>

        <!-- HEADER -->
        <div class="navbar navbar-static-top" id="header" role="navigation">
            <div class="row">
                <div class="col-xs-4 pull-left" >
                    <!-- B VERSION HEADER -->
                    {{#if alertTab}}
                    <a href="/alerts" class="load-view" data-toggle="tooltip" data-placement="right">
                         <span  class="fa fa-bell-o load-view" style="font-size: 24px; color: white"></span>
                    {{/if}}
                </div>
                <div class="col-xs-4" id="header-logo">
                    <h1 id="header-logo-text">hello</h1>
                </div>
                <div class="col-xs-4 pull-right">
                    <a href="#" data-toggle="popover" data-original-title="" data-content="Messages" class="some-popover-link pull-right" id="message-popover" style="right: 150px">
                        <span class="fa fa-comment-o" style="font-size: 24px; color: white"></span>
                    </a>
                </div>
            </div>
        </div>






    <div class="progress active" style="width:100%; margin-top: -20px; padding-top: 0;">
        <div class="progress-bar" width="40%"></div>
        <p style="color: #c4c4c4; position: absolute; margin: 2px 0 0 10px; font-size: 10px; vertical-alignment: center">Social Status</p>
    </div>
    <!--<button class="points" type="button" class="btn btn-success" style="width:150px;">Click for points</button>-->

    <!-- BOTTOM NAVIGATION -->
    <div id="navigation" class="navbar-fixed-bottom" style="width: 100%">
        <ul class="nav nav-tabs" style="width:100%">
            <li><a href="#find_people" data-toggle="tab" class="nav-button"><span class="fa fa-search nav-icon"></span></br>Find</a></li>
            <li><a href="#friends" data-toggle="tab" class="nav-button"><span class="fa fa-users nav-icon"></span></br>Connections</a></li>
            <li><a href="#profile" data-toggle="tab" class="nav-button"><span class="fa fa-user nav-icon"></span></br>Profile</a></li>
            <li><a href="#settings" data-toggle="tab" class="nav-button"><span class="fa fa-gear nav-icon"></span></br>Settings</a></li>
        </ul>
    </div>
    <div class="view-profile">



    </div>


    <div class="tab-content">
        <!-- FIND PEOPLE PAGE -->
        <div class="tab-pane active" id="find_people">
            <div class="container-main">
                {{#each people}}
                    <a href="/user_profile/{{name}}" class="load-view">
                        <div class="row container">
                            <div class="col-xs-5">
                                <img src={{imageURL}} class="img-responsive img-rounded people-img">
                            </div>
                            <div class="col-xs-7">
                                <h4 class="name">{{name}}</h4>
                                <p class="title">{{title}}</p>
                                <p class="distance">within 0.4 miles nearby</p>
                            </div>
                        </div>
                    </a>
                    <hr>
                {{/each}}
            </div>
        </div><!-- end find people page -->


        <!-- USER PROFILE PAGE -->



        <!-- INBOX PAGE -->
        <div class="tab-pane" id="inbox">

        </div><!-- end inbox page -->

        <!-- CONNECTION PAGE -->
        <div class="tab-pane" id="friends">
            <div class="container-main">
                <p class="friend-section">People met on <strong>03/04</strong> at <strong>UCSD</strong></p>
                    <div >
                        {{#each friends}}
                            <a href="/user_profile_contact/{{name}}" class="load-view" >
                                <span class="text-over-image"><p>{{name}}</p></span>
                                <img src={{imageURL}} class="img-responsive"  style="width: 32.5%; margin: 0; padding: 0; display: inline-block">
                            </a>
                        {{/each}}
                    </div>
            </div>
        </div><!-- end friends page -->

        <!-- PROFILE PAGE -->
        <div class="tab-pane" id="profile">
            <div class ="container-main">
                <div class="row profile-content">
                    <div class="col-xs-5" style="text-align: center;">
                        <img id="profile-image" src="images/defaultprofile.png" alt="your image" src="images/defaultprofile.png"/>
                        <label class="cabinet">
                            <input type='file' onchange="readURL(this);" />
                        </label>
                    </div>
                    <div class="col-xs-7">
                        <div class="name-tag">
                            <img class=".img-responsive" src="images/nametag.png">
                            <h4><span id="my-name">Paula</span></h4>
                        </div>
                    </div>
                </div>
                <div class="container profile-content">
                    <div class="row col-xs-12">
                        <h4><span id="my-title"></span></h4>
                        <p><span id="my-bio"></span></p>
                        </br>
                        <h5>Interests:</h5>
                        <span id="my-interests"></span>

                    </div>
                    <div class="row col-xs-12 profile-content" style="text-align: center">
                        <!-- <h4>Social Points</h4>
                         <p style="font-size: 50px">328</p>-->
                    </div>
                    <div class="row col-xs-12 profile-content" style="text-align: center;">
                        <img class="medal" src="images/badge.png"/>
                    </div>
                </div>
            </div>
        </div><!-- end profile page-->

        <!-- SETTINGS PAGE -->
        <div class="tab-pane" id="settings">
            <div class="slider slider-horizontal" style="width: 50%">
                <div class="slider-track">
                    <div class="slider-selection" style="left: 0%; width: 20%;"></div>
                    <div class="slider-handle round" style="left: 20%;"></div>
                    <div class="slider-handle round hide" style="left: 0%;"></div>
                </div>
            </div>
        </div><!-- end inbox page -->

        <!-- BADGE MODAL -->
        <div class="modal fade bs-example-modal-sm badge-notification" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    Congrats! You earned a badge!</br>
                    <img src="images/badge.png" style="width: 20%; margin: 10px"/>
                </div>
            </div>
        </div>



        {{#if alertTab}}
            <div class="modal fade bs-example-modal-lg friend-notifcation-b" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <a href="#" class="friend_profile">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <img src="images/mike.jpg"/>
                                    </div>
                                    <div class="col-xs-7">
                                        <p class="name">Mike says hi!</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#">accept</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#">decline</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        {{else}}
        <!-- FRIEND REQUEST MODAL -->
        <div class="modal fade bs-example-modal-sm friend-notification" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                        <a href="#" class="friend_profile">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <img src="images/mike.jpg"/>
                                    </div>
                                    <div class="col-xs-7">
                                        <p class="name">Mike says hi!</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#">accept</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#">decline</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>

</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
    <script src="js/index.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48610006-1', 'project-ice.herokuapp.com');
        ga('send', 'pageview');

    </script>
</html>
